body {
  font-family: 'Comic Sans MS', sans-serif;
  margin: 0 auto;
}

.container {
  font-family: 'Comic Sans MS', sans-serif;
  max-width: 1140px;
}

.reader {
  display: flex;
  width: 300px;
  height: 200px;
  background-color: cornflowerblue;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 7px;
}

.reader-container {
  display: none;
  justify-content: center;
  margin-top: 60px;
}

.fileInput {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px;
}
.visible {
  display: block !important;
}

.visible-flex {
  display: flex;
  justify-content: center;
}

input[type='file'] {
  display: none;
  margin-top: 15px;
}

input[type='submit'] {
  font-family: 'Comic Sans MS', sans-serif;
  color: white;
  cursor: pointer;
  width: 200px;
  height: 25px;
  background: none;
  border: 1px solid #ccc;
  border-radius: 7px;
  margin-top: 15px;
  transition: all 0.5s;
}

#file {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 7px;
}

table,
th,
td,
tr {
  border: 1px solid cornflowerblue;
}

td {
  padding: 20px;
}

table {
  border-collapse: collapse;
  margin: 10px;
}

.header {
  height: 50px;
  display: flex;
  padding: 0 10px 0 10px;
  margin-bottom: 10px;
  background-color: cornflowerblue;
  justify-content: space-between;
  align-items: center;
}

.table-container {
  display: none;
}

tr,
th,
td {
  transition: all 0.25s;
}

tr:hover,
th:hover {
  color: crimson;
  transform: scale(1.01);
}

button {
  font-family: 'Comic Sans MS', sans-serif;
  color: white;
  cursor: pointer;
  width: 125px;
  margin-right: 10px;
  height: 30px;
  background: none;
  border: 1px solid #ccc;
  border-radius: 7px;
  margin-top: 15px;
  transition: all 0.5s;
}

h3 {
  color: white;
  line-height: 30px;
}

.buttons {
  margin-bottom: 15px;
}

button:hover,
input[type='submit']:hover {
  color: black;
  background-color: white;
  transform: scale(1.1);
}

a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: black;
}
